*{
    margin: 0;
    padding: 7px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
   background-color: white; 
   color:black;
}
html{
    scroll-behavior: smooth;
}

#head{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/linkedin.png); */
   background-image:url(file/burst-kUqqaRjJuw0-unsplash.jpg) ;
    background-size: cover;
    /* background-position: center; */
    background-size: 100%;
    /* font-size:300px ; */
    

}

#container{
    padding: 10px 10px;
    /* border: 1px solid red; */
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    /* background-color: orange; */
    /* border: 1px solid red; */
     margin: -60px 0px 0px 0px;
    /* padding-top: -35px; */

}



#navbar ul li{
    
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#navbar ul li a{
    font-family: sans-serif;
    color: blue;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
#navbar ul li a::after{
content: '';
width: 0;
height: 3px;
position: absolute;
left: 0;
bottom: -6px;
background:rgb(140, 6, 87);
transition: 0.10s;
}
#navbar ul li a:hover::after{
    width: 100%;
}


.texts{
    margin-top: 20%;
    font-size: 30px;
    /* border: 1px solid red; */

}
.texts>p{
font-size: 25px;
margin-bottom: -2%;
}
.texts h1{
    font-size: 60px;
    margin-top: 20px;
}
.texts h1 samp{
    color: rgb(21, 97, 240);
}

/* about */


/* .second-img{
    height: 35%;
    width: 40%;
    border-radius: 3%;
} */
#about{
   padding: 80px 0;
   color: black;
}
.container-r{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.about-h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 65px;
    padding-left: 1.5%;
    font-weight: 700;
}

#about-sub-titels{
    display: flex;
    margin:  20px 0 40px;
}
.link-to{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    content: '';

}
.link-to::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background:rgb(140, 6, 87);
    transition: 0.10s;
}
.link-to.active-to::after{
width: 70%;
}
.tabContains ul li{
    list-style: none;
    margin: 10px 0;

}
.tabContains ul li samp{
    font-size: 35px;
    color: black;
}
#skills li{
    color:orange;
}

.tabContains{
    display: none;
}
.tabContains.active-ta{
    display: block;
}
#skillsLOGO{
   display:grid;
   grid-template-columns: repeat(3,1fr);
}
#skillsLOGO img{
width: 65%;
height: 65%;
/* background-color:blue; */
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(213, 32, 32, 0.22) 0px 10px 10px;
}
h5{
    text-align: center;
    font-size: medium;
    font-weight: 700;
    margin-right: 35%;
}

/* MY WOER */
#MyWork{
    padding: 50px 0;
}
.workList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 28px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.imgcut{
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
}
.imgmenu{
    width: 40px;
    height: 40px;
    color: blue;
    background-color: blue;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
/* .work-links>img{
    background-color: rgb(45, 212, 209);
    width: 25px;
    height: 25px;
    margin-top: -8px;
} */
.la{
   width: 100%;
   height: 0;
   background: linear-gradient(rgba(0,0,0,0.6),#ff004f); 
   border-radius: 10px;
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   transition: hight 0.5s;
}

.la h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.la a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .la{
    height: 100%;
}
.contactLeft{
    flex-basis: 35%;
}
.contactRight{
    flex-basis: 60%;
}

.row{
    display: flex;
    justify-content: space-between;
}
.contactLeft p{
    margin-top: 30px;
}
.contactLeft p img{
    margin-bottom: -3%;
    color: #ff004f;

}
.socialIcons{
    margin-top: 30px;
}
.socialIcons img {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    transition: transform 0.5s;
}
.socialIcons img:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px  auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:  background0.5s;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #8b9cbe;
    padding: 15px;
    margin: 15px 0;
    color: blue;
    font-size: 18px;
    border-radius: 6px;
    border: white;
}
.btn:hover{
    background: #ff004f;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contactRight form{
width: 100%;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#navbar .imgcut{
    display: none;
}
#navbar .imgmenu{
    display: none;
}
.texts samp{
color: rgb(20, 27, 220);
}
#socileimages{
    width: 15%;
    height: 15%;
}
.gmailogop img{
    width: 12%;
    height: 12%;
    margin-bottom: -13px;
}
.phonelogo img{
    width: 12%;
    height: 12%;  
}
@media only screen and (max-width:1275px){
    #head {
        background-repeat: no-repeat;
    }

}
@media only screen and (max-width:600px){
    #head {
        background-repeat: no-repeat;
    }
    .texts{
        margin-top: 100%;
        font-size: 16px;
    }
    .texts>h1{
        font-size: 30px;
    }
    #navbar{
        justify-content: space-between;
    }
    #navbar .imgcut{
        display: block;
        background-color: #060606;
    }
    #navbar .imgmenu{
        display: block;
        margin-top: 40px;
        margin-left: -54%;
        background-color: #060606;
    }
    #navbar ul{
        background:orange;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    #navbar ul li{
        display: block;
        margin: 25px;
    }
    #navbar ul img{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .about-h1{
        font-size: 40px;
    }
    .about-h1 p{
        font-family: sans-serif;
        color:orange;
        text-decoration: none;
        font-size: 17px;
        position: relative;
    }
    /* .about-h1 samp{
        color: rgb(237, 19, 113);
    } */
    .about-col1, .about-col2{
        flex-basis: 100%;
    }
    .about-col1{
        margin-bottom: 30px;
    }
    .about-col2{
        font-size: 14x;
    }
    .link-to{
        font-size: 16px;
        margin-right: 20px;
    }
   .contactLeft, .contactRight{
      flex-basis: 100%;
   }
   .row{
    display: grid;
   }
    .contactLeft{
        text-align: center;
   } 
    .contactRight{
    text-align: center;
   } 
   #socileimages{
    width: 13%;
    height: 13%;
   }
   /* #container{
  background-color: aqua;
   } */



   
}






#Ms{
    color: #080808;
    margin-top: -30px;
    display: block;
}
/* #mylogo{
    width: 10%;
} */

/* Annimation */

#sideMe{
    margin-top: 29px;
    
}


.skillsimg{
    background-color: white;
}

.about-h1{
    font-variant: small-caps;
}
.link-to active-link{
    /* font-variant: small-caps; */
}
/* .navsame{
    font-size: 80px;
} */

.skillsimg :hover{
background-color: rgb(58, 41, 191);
cursor: pointer;
transition: 2s;
}